body {
    margin: 0;
    font-family: Smythe;
    font-style: normal;
} 

/* Header */
header .img {
    position: relative;
}

header h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFF;
    text-align: center;
    font-size: 39px;
    font-weight: 400;
    line-height: 24px; 
}

header p {
    position: absolute;
    top: 80px;
    left: 20px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 13.798px; /* 61.538% */
}

/* Menu */
#menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.item-emoji {
    font-size: 50px;
}

.item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.item-name,
.ingredient,
.item-price {
    margin: 5px 0;
    font-size: 18px;
}

.ingredient {
    color: #8B8B8B;
}

.fa-circle-plus {
    font-size: 30px;
    color: #333;
}

/* Order */
.order-title {
    text-align: center;
}

#order {
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 16.8px; /* 60% */
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.order-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.order-name {
    font-size: 18px;
    font-weight: bold;
}

.order-price {
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
}

.remove-btn {
    background-color: white;
    border: none;
    color: #BBB;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
}

.order-total {
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-right: 10px;
}

.total-price {
    margin-left: auto;
    margin-right: 10px;
}

.order-btn {
    width: 700px;
    padding: 10px 175px 10px 194px;
    justify-content: flex-end;
    border-radius: 3px;
    background: #16DB99;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border: none;
    color: var(--white, #FFF);
    font-family: Verdana;
    font-size: 16px;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

i:hover{
    opacity: 0.5
}

.modal{
    /*display: grid;*/
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:20px;
    margin-bottom:30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 524px;
    height: 542px;
    border-radius: 3px;
    background: #FFF;
    border:2px solid #757575;
}
.modal input{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 475px;
    height: 71px;
    border-radius: 1px solid #757575;
    margin-top: 10px;
    padding-left: 10px;
}
.pay-btn{
    border-radius: 3.89px;
    background: #16DB99;
    width: 475px;
    height: 71px;
    border:none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white, #FFF);
    font-family: Verdana;
    font-size: 16px;
}

.message{
    border-radius: 3px;
    background: #ECFDF5;
    width: 504px;
    height: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}
